body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  text-align: center;
}

header {
  background-color: tomato;
  height: 120px;
  display: flex;
  justify-content: center;
}

.columns {
  display: flex;
  flex-grow: 1;
}

nav {
  background-color: coral;
  flex-shrink: 0;
  width: 100px;
}

main {
  background-color: moccasin;
  flex-grow: 1;
  min-height: 75vh;
  display: flex;
  justify-content: center;
}

aside {
  background-color: sandybrown;
  flex-shrink: 0;
  width: 100px;
}

footer {
  background-color: slategray;
  height: 100px;
  display: flex;
  justify-content: center;
}

.box-shape {
  background-color: lightgray;
  color: black;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.top {
  background-color: lightyellow;
  transform: translate(0px, 300px);
}

.right {
  background-color: lightyellow;
  transform: translate(-300px, 0px);
}

.bottom {
  background-color: lightyellow;
  transform: translate(0px, -300px);
}

.left {
  background-color: lightyellow;
  transform: translate(300px, 0px);
}
